
.orbisius_cyberstore .app_table { 
	width: 30%;
}

.orbisius_cyberstore .app_table_half {
	width:50%;
}

.orbisius_cyberstore .app_table_medium {
	width:75%;
}

.orbisius_cyberstore .app_table_full {
	width:100%;
}

.orbisius_cyberstore .app_table td {
	padding:10px;
}

.orbisius_cyberstore .ext_row {
    border:1px solid #ccc;
}

.orbisius_cyberstore .success, .orbisius_cyberstore .app_success {
    color: green;
}

.orbisius_cyberstore .app_error, .orbisius_cyberstore .app_delete_button {
    color: red;
}

.orbisius_cyberstore .app_hide {
    display: none;
}

.orbisius_cyberstore .app_message_box {
    _margin: 5px 5px 15px;
    margin: 0;
    padding:5px;
    background-color: #ffffcc;
}

/* .asterisk is for the *naked* newsletter signup form (mailchimp) */
.asterisk, .app_asterisk {
    color: red;
}

.orbisius_cyberstore .main_content {
	float: left;
    margin: 0;
    padding: 0;
    width: 73%;
    vertical-align: top;
}

.orbisius_cyberstore .zzz_app_admin_sidebar {
	float: right;
    margin: 0;
    padding: 0;
    width: 20%;
}

.orbisius_cyberstore .op_cmd_right {
	float: right;
    margin: 0;
    padding: 0;
    width: 20%;
}

.orbisius_cyberstore_donation {
    margin-left: 10px;
	text-align:center;
}
